
.Calendar {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: $color-nav;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    animation: loading-screen 2s ease-in;
    animation-fill-mode: forwards;

    & img {
      max-width: 100px;
      height: auto;
      animation: circle 2s linear;
    }
  }

  .MonthChoice {
    font-size: 25px;
    font-weight: 500;
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & table {
    width: 70%;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 5rem;
  }

  & tbody {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  & tr {
    flex-basis: 100%;
    display: flex;
  }

  & td {
    flex-basis: 100%;
    border: 1px solid $border-color;
    @media (max-width: 950px) {
      font-size: 12px;
    }
  }
}