@use "sass:math";

.Calendar {
  width: 100%;
  background: darkolivegreen;

  .dateChoiceContainer {
    display: flex;
  }

  .calendarTable {
    width: 90%;
    background: palevioletred;
  }

  td {
    width: math.div(100%, 7);
    height: math.div(95vh, 6);
    border: 1px solid black;
  }

}