.DayDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & .btnsContainer {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media(max-width: 950px) {
      width: 90%;
    }
  }
}