.Day {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  background: $month1;
  transition: background-color 0.15s ease-in;

  &:hover {
    transform: scale(1.015);
    background: darken($month1, 5);
  }

  & h3 {
    margin: 0.5rem;
  }

  &.otherMonth {
    background: $month2;
  }

  &.weekend {
    background: $weekend;

    &:hover {
      transform: scale(1.015);
      background: darken($weekend, 5);
    }
  }

  & .dayContainer {
    margin: auto 0;
    display: flex;
  }

  & .schedule {
    width: 50%;
    margin: auto;
    padding: 5%;
    text-align: center;
    line-height: 1.5rem;
  }

  & h3 {
    font-weight: 500;
    margin: 0.5rem 0 0 0.5rem;
  }
}