$color-nav: #323C59;
$text-nav: #cacbce;
$border-color: #ffffff;
$month1: #7CA653;
$month2: #9eaa92;
$weekend: #4b6a2c;
$btn-font1: #564949;
$bk-input: #fafbf2;
$color-primary: #7CA653;
$bk-color: #F2F2E4;