* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  border-radius: 8px;
  padding: 1em 2em;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  color: #564949;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 20% 0;
  min-width: 20%;
  position: relative;
}
form input {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  background: #c4c0c0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
form .error {
  outline: red 1px solid;
}
form.form--dates .dates {
  display: flex;
}
form.form--dates .dates div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

select {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  background: #c4c0c0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
select option {
  background: white;
}

.Calendar {
  width: 70%;
  margin: 0 auto;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
.Calendar::after {
  content: "";
  height: 5%;
}
.Calendar .dateChoiceContainer {
  display: flex;
}
.Calendar .calendarTable {
  width: 100%;
  height: 100%;
}
.Calendar tbody {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Calendar tr {
  flex-basis: 100%;
  display: flex;
}
.Calendar td {
  border: 1px solid #ffffff;
  flex-basis: 100%;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}
.Layout nav {
  width: 100%;
  height: 3rem;
  padding-left: 15%;
  background: #C4C4C4;
  display: flex;
  align-items: center;
}
.Layout nav a {
  margin-right: 80px;
}
.Layout nav .active {
  text-decoration: underline;
}

.Day {
  background: #cacaca;
  display: flex;
  flex-direction: column;
  color: #242323;
  overflow: hidden;
}
.Day h3 {
  margin: 0.5rem;
}
.Day.otherMonth {
  background: #a9a9a9;
}
.Day.weekend {
  background: #e6e6e6;
}
.Day .dayContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Day .leftDay {
  min-width: 20%;
}
.Day .rightDay {
  min-width: 20%;
}

.MonthChoice {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  font-size: 25px;
  font-weight: 500;
}

.ManageSchedule {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 50%;
}
.ManageSchedule form {
  margin: 20% 0 0 0;
}

.DayDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.DayDetails .formContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.DayDetails .formContainer form {
  margin: 0;
}
.DayDetails .btnsContainer {
  margin: 2rem 0;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DayDetails .btnsContainer button {
  margin: 0;
}

.ScheduleChoice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ScheduleChoice div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.UpdateSchedule {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ScheduleSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
