* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

@keyframes loading-screen {
  0% {
    visibility: visible;
    opacity: 100%;
  }
  30% {
    opacity: 100%;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
@media (max-width: 950px) {
  body {
    font-size: 15px;
  }
}

a {
  color: #cacbce;
  text-decoration: none;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
form .input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}
form .input-container .error {
  position: absolute;
  bottom: -1rem;
  left: 0;
  color: red;
  font-size: 13px;
}
form .double-input .input-container:nth-child(2) {
  margin-left: 1rem;
}
form label {
  margin-bottom: 1rem;
}
form input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
  background-color: #fafbf2;
}
form .double-input {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 13px;
  font-size: 20px;
  padding: 0.8rem 1.3rem;
  margin: 1rem auto;
  background: #7CA653;
  transition: 0.2s;
}
button:hover {
  cursor: pointer;
  background: #304020;
  color: #eae7e7;
  transition: 0.2s;
}
button.no-marge {
  margin: 0;
}
button.light {
  border: 1px solid black;
  background: white;
  color: #3a3232;
  font-size: 17px;
}
button.light:hover {
  cursor: pointer;
  background: #96b973;
  color: #3a3232;
  transition: 0.2s;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin: 2rem 0;
  white-space: nowrap;
}
h2.no-marge {
  margin: 0;
}

.Calendar {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Calendar .loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: #323C59;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  animation: loading-screen 2s ease-in;
  animation-fill-mode: forwards;
}
.Calendar .loading-screen img {
  max-width: 100px;
  height: auto;
  animation: circle 2s linear;
}
.Calendar .MonthChoice {
  font-size: 25px;
  font-weight: 500;
  min-width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Calendar table {
  width: 70%;
  height: 100%;
  flex-grow: 1;
  margin-bottom: 5rem;
}
.Calendar tbody {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Calendar tr {
  flex-basis: 100%;
  display: flex;
}
.Calendar td {
  flex-basis: 100%;
  border: 1px solid #ffffff;
}
@media (max-width: 950px) {
  .Calendar td {
    font-size: 12px;
  }
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #F2F2E4;
}
.Layout .burger {
  display: none;
}
@media (max-width: 950px) {
  .Layout .burger {
    align-self: flex-start;
    display: inline-block;
    z-index: 1;
  }
}
.Layout nav {
  width: 100%;
  min-height: 3rem;
  padding-left: 15%;
  margin-bottom: 2rem;
  background: #323C59;
  display: flex;
  align-items: center;
}
.Layout nav ul {
  width: 100%;
  display: flex;
}
.Layout nav a {
  margin-right: 7.4rem;
}
.Layout nav .active {
  font-weight: 300;
  color: white;
}
.Layout nav.small {
  display: block;
  position: absolute;
  padding: 15px;
  width: 100%;
}
@media (max-width: 950px) {
  .Layout nav {
    position: absolute;
    display: none;
    width: max-content;
    height: 20%;
    padding: 0;
  }
  .Layout nav ul {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .Layout nav a {
    margin-right: 0;
  }
}

.Day {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  background: #7CA653;
  transition: background-color 0.15s ease-in;
}
.Day:hover {
  transform: scale(1.015);
  background: #6f954b;
}
.Day h3 {
  margin: 0.5rem;
}
.Day.otherMonth {
  background: #9eaa92;
}
.Day.weekend {
  background: #4b6a2c;
}
.Day.weekend:hover {
  transform: scale(1.015);
  background: #3e5825;
}
.Day .dayContainer {
  margin: auto 0;
  display: flex;
}
.Day .schedule {
  width: 50%;
  margin: auto;
  padding: 5%;
  text-align: center;
  line-height: 1.5rem;
}
.Day h3 {
  font-weight: 500;
  margin: 0.5rem 0 0 0.5rem;
}

.split {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.split .right, .split .left {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.split .left h2 {
  margin-bottom: 1rem;
}
@media (max-width: 950px) {
  .split {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .split .left {
    border-bottom: 1px black solid;
  }
  .split .left h2 {
    margin-bottom: 0;
  }
  .split .right, .split .left {
    height: 550px;
  }
}

.DayDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.DayDetails .btnsContainer {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 950px) {
  .DayDetails .btnsContainer {
    width: 90%;
  }
}

.ScheduleChoice .details-container p {
  margin: 2rem;
}

.ScheduleSelect .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.ScheduleSelect select {
  background: #fafbf2;
  font-size: inherit;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
  margin-top: 1rem;
}
.ScheduleSelect label {
  margin-top: 1rem;
}
.ScheduleSelect option {
  background: #fafbf2;
}

/*# sourceMappingURL=main.css.map */
